.alan{
	font-size: 3rem;
}
#box{
	width: 200px;
	height: 200px;
	background-color: red;
	/* transform: translate(0,0); */
	transition: width 6s, height 6s, background-color 6s;
}
#box:hover{
	width: 400px;
	height: 400px;
	background-color: blue;
	background:linear-gradient(to right, red 33%,white 32%,white 66%, red 33%);
	border: 1px #222 solid;
	transform: translate(50px, 50px);
	transition: width 2s, height 2s, background-color 2s, transform 2s;
	transition: all 2s
}